container_commands:
#  01_migrate:
#    command: "source /opt/python/run/venv/bin/activate && python vinna/manage.py migrate --noinput"
#    leader_only: true
#  02_createsu:
#    command: "source /opt/python/run/venv/bin/activate && python vinna/manage.py createsu"
#    leader_only: true
#  03_collectstatic:
#    command: "source /opt/python/run/venv/bin/activate && python src/manage.py collectstatic --noinput"
  04_pip_upgrade:
    command: "source /opt/python/run/venv/bin/activate && sudo /opt/python/run/venv/bin/pip install -U pip"
  05_pip_upgrade:
    command: "sudo /opt/python/run/venv/bin/pip install -U pip"
  06_pip_requirements:
    command: "source /opt/python/run/venv/bin/activate && sudo /opt/python/run/venv/bin/pip install -r requirements2.txt"
  07_pip_requirements:
    command: "sudo /opt/python/run/venv/bin/pip install -r requirements2.txt"
option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:elasticbeanstalk:container:python:
    WSGIPath: vinna/wsgi.py
