{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
{% block title %}Register to be Vinna Member{% endblock %}

{% block content %}

    
        <!-- Bannner -->        
        <section class="download-app-banner">
           <img src="/static/images/download-banner.png" alt="" title="" >
             <div class="app-banner-content">
               <div class="app-container">
                    <div class="app-right-content">
                      <% if !referral %>
                        <a href="#"><img src="/static/images/app-store.png" alt="" title="" ></a>
                        <a href="http://bit.ly/2u7Q4fn"><img src="/static/images/google-play.png" alt="" title="" ></a>
                      <% endif %>
                      {% if referral %}
                        <p>Receive a link to download the App on your device.</p>
                        <form method="POST" action="?">
                          {% csrf_token %}
                          {{form_download.account}}
                          {% if form_download.account %}
                          {{form_download.email}}
                          {% endif %}
                          <button type="submit">Send</button>
                          <!-- TODO need confirmation after send... or page reload -->
                        </form>
                      {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
             </div>
        </section>
        
        <!-- Content --> 
        <section class="welcome-content">
          <a href="#" style="display:none;">Enter Vinna</a>
        </section>
         



{% endblock %}

{% block scripts %}
<script>
$('#registerform_connect').click(function() {
  $('#registerform').submit();
});
$('#file_chooser_button').click(function() {
  $('#file_chooser').trigger('click');
});
$('#file_chooser').change(function() {
  alert('uploading file');
});
</script>
{% endblock %}
